<div id="main" role="main">
  <% page.posts.each(post => { %>
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <!-- post title -->
    <h2 class="post-title" itemprop="name headline">
      <a itemprop="url" href="/<%- post.path %>"><%- post.title %></a>
    </h2>
    <!-- end post title -->

    <!-- post meta -->
    <ul class="post-meta">
      <li itemprop="author" itemscope itemtype="http://schema.org/Person">
        作者: <a itemprop="name" href="#" rel="author"><%- config.author %></a>
      </li>
      <li>时间: <time itemprop="datePublished"><%- post.date.format('YYYY-MM-DD')
          %></time></li>
      <li>分类:
        <% if (post.categories.length === 0) { %>
        无分类
        <% } else { %>
        <% post.categories.data.forEach(category => { %>
        <a href="/<%- category.path %>"><%- category.name %></a>
        <% }) %>
        <% } %>
      </li>
    </ul>
    <!-- end post meta -->

    <!-- post content -->
    <div class="post-content index-post-content" itemprop="articleBody">
      <%- excerpt_clean(post.content, theme.excerpt_length) %>
    </div>
    <!-- end post content -->

  </article>
  <% }) %>
</div>