<!DOCTYPE html>
<html lang="<%- config.language %>">
  <head>
    <%- partial('header') %>
  </head>

  <body>
    <div id="outbox">
      <!-- header -->
      <div id="header" class="clearfix">
        <div class="container">
          <div class="row">
            <div class="site-name">
              <a id="logo" href="/"><%- config.title %></a>
              <p id="description_random_intro" class="description">
                <%- config.description %>
              </p>
              <script>
                var description_random_intro = document.getElementById(
                  "description_random_intro"
                );
                var descriptions = JSON.parse(
                  `<%- JSON.stringify(theme.random_intro) %>`
                );
                var random_intro =
                  descriptions[Math.floor(Math.random() * descriptions.length)];
                description_random_intro.innerHTML = random_intro;
              </script>
            </div>
          </div>
        </div>
      </div>
      <!-- end header -->

      <!-- sidebar button -->
      <button id="side-btn" onclick="changeSideStatus()">
        <input id="side-flag" type="checkbox" />
        <label id="side-control" for="side-flag">≡</label>
      </button>

      <!-- left area -->
      <div id="left">
        <!-- left links -->
        <div id="left-links">
          <!-- page links -->
          <a class="<%- path == 'index.html'? 'current' : '' %>" href="/"
            >首页</a
          >
          <% site.pages.each(p => { %>
          <br />
          <a class="<%- path == p.path? 'current' : '' %>" href="/<%- p.path %>"
            ><%- p.title %></a
          >
          <% }); %>
          <!-- end page links -->

          <!-- sidebar extra html -->
          <% if (theme.sidebar_extra_html) { %>
          <br />
          <%- theme.sidebar_extra_html %> <% } %>
          <!-- end sidebar extra html -->

          <button id="dark-btn" onclick="changeDarkMode()">更换主题</button>
        </div>
        <!-- end left links -->

        <!-- <?php if ($this->options->showCategory): ?>
                    <hr />
                    <h4 class="widget-title"><?php $this->options->showCategory(); ?></h3>
                        <?php \Widget\Metas\Category\Rows::alloc()->listCategories('wrapClass=widget-list'); ?>
                    <?php endif; ?>

                    <?php if ($this->options->showArchive): ?>
                        <hr />
                        <h4 class="widget-title"><?php $this->options->showArchive(); ?></h3>
                            <ul class="widget-list">
                                <?php \Widget\Contents\Post\Date::alloc('type=month&format=F Y')
                                    ->parse('<li><a href="{permalink}">{date}</a></li>'); ?>
                            </ul>
                        <?php endif; ?>

                        <?php if ($this->options->showOther): ?>
                            <hr />
                            <h3 class="widget-title"><?php $this->options->showOther(); ?></h3>
                            <ul class="widget-list">
                                <?php if ($this->user->hasLogin()): ?>
                                    <li class="last"><a href="<?php $this->options->adminUrl(); ?>"><?php _e('进入后台'); ?>
                                            (<?php $this->user->screenName(); ?>)</a></li>
                                    <li><a href="<?php $this->options->logoutUrl(); ?>"><?php _e('退出'); ?></a></li>
                                <?php else: ?>
                                    <li class="last"><a
                                            href="<?php $this->options->adminUrl('login.php'); ?>"><?php _e('登录'); ?></a>
                                    </li>
                                <?php endif; ?>
                                <li><a href="<?php $this->options->feedUrl(); ?>"><?php _e('文章 RSS'); ?></a></li>
                                <li><a href="<?php $this->options->commentsFeedUrl(); ?>"><?php _e('评论 RSS'); ?></a>
                                </li>
                                <li><a href="http://www.typecho.org">Typecho</a></li>
                            </ul>
                        <?php endif; ?>
                        <hr>
                        <form id="search" method="post" action="<?php $this->options->siteUrl(); ?>" role="search">
                            <input type="text" id="s" name="s" class="text" placeholder="<?php _e('输入关键字搜索'); ?>" />
                            <button type="submit" class="submit">
                                <img src="<?php $this->options->themeUrl('img/icon-search.png'); ?>"
                                    alt="icon-search">
                            </button>
                        </form> -->
      </div>
      <!-- end left area -->

      <%- body %>

      <!-- footer -->
      <div id="footer" role="contentinfo">
        &copy; <%- new Date().getFullYear() %>
        <a href="/"><%- config.title %></a>.
        <a href="https://github.com/runoneall/hexo-theme-old-fashion"
          >Old Fasion</a
        >
        Theme. Powered by <a href="https://hexo.io">Hexo</a>.
      </div>
      <!-- end footer -->
    </div>
    <!-- end outbox -->

    <%- partial('script') %>
  </body>
</html>
